 <html>
  <head>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-context-menu@2.0.6/vue-context-menu.min.js"></script>
  </head>
  <body>
 <div id="container">

      <svg width="1000px" height="1000px"  background-image: none @click.left="append" @click.right.prevent="appendBridge">
        <foreignObject width="1000" height="1000" x="0" y="0">
          <input v-for="line in lines"  v-model.cNumber="line.value":style="{position:'absolute',left:(line.x1+line.x2)/2,top:(line.y1+line.y2)/2}"class="example"@click.stop @input="addValue(line.value,line)">
        </foreignObject>
        <line v-for="network in networks":x1="network.x1":x2="network.x2":y1="network.y1":y2="network.y2"stroke="red"/>
        <circle v-for="(bridge,index) in bridges":cx="bridge.cx" :cy="bridge.cy" :r="bridge.r" :stroke="bridge.stroke" stroke-width="5" fill="white"@click.right.stop.prevent="removeBridge(index)" @click.stop.left="drawLine(index,$event)"/>
        <line v-for="line in lines":x1="line.x1+35":x2="line.x2+35":y1="line.y1+25":y2="line.y2+25"stroke="black"/>
        
        <rect v-for="(rect,index) in containers":x="rect.x" :y="rect.y" :width="rect.width":height="rect.height" :stroke="rect.stroke" stroke-width="5" fill="white" rx="5" ry="5"@click.right.stop.prevent="remove(index)" @click.stop.left="drawLine(index,$event)"/>
        <text v-for="(rect,index) in containers":x="rect.x+28"  :y="rect.y+rect.height-20 ":length="2"@click.stop>{{rect.id}}</text>     
      </svg>    
      <button @click="dlCSV">
        ダウンロード
      </button>
      <button @click="postTest">送信</button>
  </div>
</body>
</html>
<script>
   new Vue({
    el : "#container",
    data() {
      return {
        cNum:1,
        bNum:1,
        firstClick:true,
        preClickedTag:"",
        preClickedIndex:-1,
        changeIndex:0,
        lineIndex:0,
        networkIndex:0,
        id:0,
        tmpx:0,
        tmpy:0,
        value:0,
        clickedBridge:-1,
        containers : [
           {x:0, y:0, width:0,height:0,id:0,stroke:"black"}
        ],
        lines :[
          {x1:0, x2:0, y1:0, y2:0, pathLength:0,from:0 ,to:0,value:0}
        ],
        bridges : [
           {cx:0, cy:0, r:0,id:0,stroke:"black"}
        ],
        relation:[
          {from:"" ,to:"" ,value:0}
        ],
        networks:[
          {x1:0, x2:0, y1:0, y2:0, pathLength:0,bridge:0 ,container:0,value:0}
        ],
      }
    },
    methods: {
      append:function(e){
        this.containers.push({
          x : e.offsetX,
          y : e.offsetY,
          width  : 70,
          height : 50,
          id : this.cNum++,
          stroke:"black"
        });
      },
      appendBridge:function(e){
        this.bridges.push({
          cx : e.offsetX,
          cy : e.offsetY,
          r  : 30,
          id : this.bNum++,
          stroke:"black"
        });
      },
      remove:function(index){
        let dlIndex=0
        this.containers.splice(index,1)
        while(dlIndex!=-1){
          dlIndex=this.lines.findIndex(({ to }) => to === index)
          
          if(dlIndex==-1){
            break
          }
          this.lines.splice(dlIndex,1)
          dlIndex=this.relation.findIndex(({ to }) => to === index)
          this.relation.splice(dlIndex,1)
          this.lineIndex--
        }
        dlIndex=0
        while(dlIndex!=-1){
          dlIndex=this.lines.findIndex(({ from }) => from === index)
          console.log("dl="+dlIndex+"index="+index)
          if(dlIndex==-1){
            break
          }
          this.lines.splice(dlIndex,1)
          dlIndex=this.relation.findIndex(({ from }) => from === index)
          this.relation.splice(dlIndex,1)
          this.lineIndex--
        }
        console.log(index)
      },
      removeBridge:function(index){
        let dlIndex
        this.bridges.splice(index,1)
        while(dlIndex!=-1){
          dlIndex=this.networks.findIndex(({ container }) => container === index)
          if(dlIndex==-1){
            break
          }
          this.networks.splice(dlIndex,1)
          //dlIndex=this.relation.findIndex(({ container }) => container === index)
          //this.relation.splice(dlIndex,1)
          this.networkIndex--
        }
        dlIndex=0
        while(dlIndex!=-1){
          dlIndex=this.lines.findIndex(({ from }) => from === index)
          if(dlIndex==-1){
            break
          }
          this.networks.splice(dlIndex,1)
          dlIndex=this.relation.findIndex(({ from }) => from === index)
          this.relation.splice(dlIndex,1)
          this.networkIndex--
        }
      },
      drawLine:function(clickedIndex,event){
        let clickedTag=event.target.tagName;
        console.log(clickedTag);
        if(clickedTag=="circle" || this.preClickedTag=="circle"){
          if(this.firstClick){
            this.preClickedTag="circle";
            clickedBridge=clickedIndex;
            this.bridges[clickedIndex]["stroke"]="blue"
            this.tmpx=this.bridges[clickedIndex]["cx"]
            this.tmpy=this.bridges[clickedIndex]["cy"]
            this.firstClick=false
            this.preClickedIndex=clickedIndex
          }else{
            if(this.preClickedTag=="circle"&&clickedTag=="circle"){
              console.log("BridgeとBridgeをつなげようとしています。");
              firstClick=true;
              return;
            }else{
              if(this.preClickedTag=="circle"&&clickedTag=="rect"){
                console.log("push net")
                this.networks.push({
                  x1:this.tmpx,
                  x2:this.containers[clickedIndex]["x"],
                  y1:this.tmpy,
                  y2:this.tmpy=this.containers[clickedIndex]["y"],
                  bridge:this.preClickedIndex,
                  container:clickedIndex,
                  value:null
                }
              )
              this.networkIndex++
              this.bridges[this.preClickedIndex]["stroke"]="black"
            }else{
              console.log("push net2")
              this.networks.push({
                x1:this.tmpx,
                x2:this.bridges[clickedIndex]["cx"],
                y1:this.tmpy,
                y2:this.tmpy=this.bridges[clickedIndex]["cy"],
                bridge:clickedIndex,
                container:this.preClickedIndex,
                value:null
              })
              this.containers[this.preClickedIndex]["stroke"]="black"
              this.networkIndex++
            }
            this.preClickedTag=""
            this.firstClick=true
            
            }
          }
          
        }
        else if(this.firstClick){
          preClickedTag="rect";
          this.containers[clickedIndex]["stroke"]="blue"
          this.relation.push({
            from:clickedIndex,
            to:null,
            value:null
          }
        )
        console.log("push")
        this.tmpx=this.containers[clickedIndex]["x"]
        this.tmpy=this.containers[clickedIndex]["y"]
        this.firstClick=false
        this.preClickedIndex=clickedIndex
      }else{

        this.relation[this.lineIndex+1]["to"]=clickedIndex
        this.lines.push({
          x1:this.tmpx,
          x2:this.containers[clickedIndex]["x"],
          y1:this.tmpy,
          y2:this.tmpy=this.containers[clickedIndex]["y"],
          from:this.preClickedIndex,
          to:clickedIndex,
          value:this.value
        })
        this.firstClick=true
        this.lineIndex++
        this.containers[this.preClickedIndex]["stroke"]="black"
        console.log("a")
        
      }

      },
      addValue: function(value,lines){
        console.log(value);
        console.log(this.value);
        console.log(lines);
      },
      dlCSV () {
      var csv = '\ufeff' + 'from,to\n'
      this.relation.forEach(el => {
        var line = el['from'] + ',' + el['to'] + '\n'
        csv += line
      })
      let blob = new Blob([csv], { type: 'text/csv' })
      let link = document.createElement('a')
      link.href = window.URL.createObjectURL(blob)
      link.download = 'Result.csv'
      link.click()
    },
    postTest: function(){
            //console.log("aaaa")
           // console.log(this.relation[1]["to"])
            axios.post('http://127.0.0.1:12345/postTest',this.lines)
           .then(function (response) {
            console.log(response);
            })
            .catch(function (error) {
             console.log(error);
            });
          },
    
      }
   });
   </script>
 <style> 
  .example{
     /*コレ*/width: 3em;
    /*コレ*/max-width: 100%;
    /*コレ*/border: none;
    background: #e7edf8;
}
 </style>